{% extends '@Dashtainer/project/service/create.html.twig' %}

{% block serviceContent %}
<div class="row">
    <div class="form-group col">
        <label class="form-label" for="name">Service Name</label>
        <input type="text" class="form-control" maxlength="64"
               id="name" name="name" placeholder=""
               value="{{ service.name }}" required data-mask-type="dns"
               data-update-text="service-name-tag,volumes_dir_internal-datadir-bind-span"
               data-error-container="name" />
        <div class="invalid-feedback" data-error-container-name="name"></div>
    </div>
</div>

<div class="alert alert-icon alert-info mb-6" role="alert">
    <i class="fe fe-bell mr-2" aria-hidden="true"></i>
    This service will be available <strong>privately</strong> at
    <span class="badge badge-primary text-lg">
        <span class="tag-addon-left"><i class="fa fa-lock"></i></span>
        <span id="service-name-tag">{{ service.name }}</span>:11300</span>
</div>

<hr class="my-6" />

{% set volume = volumes.other.remove('datadir') %}
{% embed '@Dashtainer/project/service/snippets/volume-datadir.html.twig' with {'volume': volume} %}
    {% block dataDir %}
    {% endblock %}
{% endembed %}
{% endblock %}
