<li class="nav-item">
    <a id="nav-{{ id }}-tab" class="nav-link" data-toggle="tab"
       href="#{{ id }}" role="tab" aria-controls="{{ id }}"
       aria-selected="false">File Name</a>
    <div class="btn-group">
        <button type="button" class="btn btn-default"
                data-toggle="delete-block"
                data-target="#{{ id }}">
            <i class="fa fa-close"></i></button>
    </div>
</li>
