/.web-server-pid
/app/config/parameters.yml
/build/
/docker/docker-compose.override.yml
/test-coverage
/phpunit.xml
/var/*
!/var/dashtainer-config.yml
!/var/cache
/var/cache/*
!var/cache/.gitkeep
!/var/logs
/var/logs/*
!var/logs/.gitkeep
!/var/sessions
/var/sessions/*
!var/sessions/.gitkeep
!var/SymfonyRequirements.php
/vendor/
/node_modules/
/public/build/
yarn-error.log
