/.web-server-pid
/phpunit.xml
/yarn-error.log
/app/config/parameters.yml
/build/
/docker/.env
/docker/docker-compose.override.yml
/node_modules/
/public/build/
/test-coverage
/var/*
!/var/dashtainer-config.yml

!/var/cache
/var/cache/*
!var/cache/.gitkeep

!/var/cache/.composer
/var/cache/.composer/*
!var/cache/.composer/.gitkeep

!/var/cache/.npm-cache
/var/cache/.npm-cache/*
!var/cache/.npm-cache/.gitkeep

!/var/cache/.yarn
/var/cache/.yarn/*
!var/cache/.yarn/.gitkeep

!/var/cache/.yarn-cache
/var/cache/.yarn-cache/*
!var/cache/.yarn-cache/.gitkeep

!/var/logs
/var/logs/*
!var/logs/.gitkeep

!/var/sessions
/var/sessions/*
!var/sessions/.gitkeep

!var/SymfonyRequirements.php
/vendor/
