{% extends "@FOSUser/layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block fos_user_content %}

<div class="card">
    <div class="card-body">
        <div class="card-title">Email sent</div>

        <p>{{ 'resetting.check_email'|trans({'%tokenLifetime%': tokenLifetime})|nl2br }}</p>

        <div class="form-footer">
            <button type="submit" class="btn btn-primary btn-block">
                Sign in</button>
        </div>
    </div>
</div>
{% endblock %}
