{% extends "@FOSUser/layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block fos_user_content %}
<div class="card">
    <div class="card-body px-6 pt-6 pb-0">
        <div class="card-title">Success!</div>

        <p>{{ 'registration.confirmed'|trans({'%username%': user.username}) }}</p>

        {% if targetUrl %}
            <p><a href="{{ targetUrl }}">{{ 'registration.back'|trans }}</a></p>
        {% endif %}

        <p class="mb-6"><a href="{{ path('project.index.get') }}">Create your first project</a></p>
    </div>
</div>
{% endblock fos_user_content %}
