imports:
    - { resource: parameters.yml }
    - { resource: security.yml }
    - { resource: services.yml }

parameters:
    locale: en

framework:
    secret: '%secret%'
    router:
        resource: '%kernel.project_dir%/app/config/routing.yml'
        strict_requirements: ~
    form: ~
    csrf_protection: ~
    validation: { enable_annotations: true }
    translator: { fallbacks: ['%locale%'] }
    default_locale: '%locale%'
    trusted_hosts: ~
    session:
        handler_id: Symfony\Component\HttpFoundation\Session\Storage\Handler\PdoSessionHandler
        save_path: '%kernel.project_dir%/var/sessions/%kernel.environment%'
    fragments: ~
    http_method_override: true
    assets:
        json_manifest_path: '%kernel.project_dir%/public/build/manifest.json'
    php_errors:
        log: true
    serializer:
        enabled: true
    templating:
        engines: ['twig']

# Twig Configuration
twig:
    debug: '%kernel.debug%'
    strict_variables: '%kernel.debug%'
    paths:
        "%kernel.project_dir%/templates": Dashtainer

# Doctrine Configuration
doctrine:
    dbal:
        driver: pdo_mysql
        host: '%database_host%'
        port: '%database_port%'
        dbname: '%database_name%'
        user: '%database_user%'
        password: '%database_password%'
        charset: UTF8
        types:
            uuid: Ramsey\Uuid\Doctrine\UuidType
            uuid_binary: Ramsey\Uuid\Doctrine\UuidBinaryType
            varbinary: Dashtainer\Types\VarBinary
            enc: Dashtainer\Types\Enc
            enc_blob: Dashtainer\Types\EncBlob
        mapping_types:
            uuid_binary: binary

    orm:
        auto_generate_proxy_classes: '%kernel.debug%'
        naming_strategy: doctrine.orm.naming_strategy.underscore
        auto_mapping: true

doctrine_migrations:
    dir_name: '%kernel.project_dir%/src/Migrations'
    namespace: Dashtainer\Migrations
    table_name: migration_versions
    name: Dashtainer Database Migrations

fos_user:
    db_driver: orm
    firewall_name: main
    user_class: Dashtainer\Entity\User
    registration:
        form:
            type: Dashtainer\Form\RegistrationFormType
    profile:
        form:
            type: Dashtainer\Form\ProfileFormType
    from_email:
        address: '%mailer_user%'
        sender_name: '%mailer_user%'

stof_doctrine_extensions:
    default_locale: en_US
    orm:
        default:
            loggable: true
            timestampable: true
            softdeleteable: true

# Swiftmailer Configuration
swiftmailer:
    transport: '%mailer_transport%'
    host: '%mailer_host%'
    username: '%mailer_user%'
    password: '%mailer_password%'
    spool: { type: memory }

sensio_framework_extra:
    request:
        converters: true
        auto_convert: false
    router:
        annotations: false
