parameters:
    database_host: 127.0.0.1
    database_port: 3306
    database_name: dashtainer
    database_user: dashtainer
    database_password: dashtainer
    mailer_transport: smtp
    mailer_host: 127.0.0.1
    mailer_user: null
    mailer_password: null
    secret: 4a26620b4a7a55c5c48499eeecf992d6b20f19ac
