parameters:
    database_host: '%env(trim:file:DB_HOST_FILE)%'
    database_name: '%env(trim:file:DB_NAME_FILE)%'
    database_port: '%env(trim:file:DB_PORT_FILE)%'
    database_user: '%env(trim:file:DB_USER_FILE)%'
    database_password: '%env(trim:file:DB_PASSWORD_FILE)%'
    mailer_transport: smtp
    mailer_host: 127.0.0.1
    mailer_user: null
    mailer_password: null
    secret: 4a26620b4a7a55c5c48499eeecf992d6b20f19ac
    enc_key: '%env(trim:file:SF_SECRET_KEY_FILE)%'
