<h4 class="mb-3">Project Files Source</h4>

<div class="row">
    <div class="col">
        <div class="selectgroup" role="tablist">
            <label class="selectgroup-item">
                <input type="radio" class="selectgroup-input"
                       id="project_files-type-local" name="project_files[type]"
                       value="local" checked role="tab"
                       data-toggle="radio-tab" data-target="#project_files-local"
                       data-error-container="project_files" />
                <span class="selectgroup-button selectgroup-button-icon px-7 py-3">
                    <i class="fe fe-hard-drive"></i> Local</span>
            </label>

            <label class="selectgroup-item">
                <input type="radio" class="selectgroup-input"
                       id="project_files-type-github" name="project_files[type]"
                       value="github" role="tab"
                       data-toggle="radio-tab" data-target="#project_files-github"
                       data-error-container="project_files" />
                <span class="selectgroup-button selectgroup-button-icon px-7 py-3">
                    <i class="fe fe-github"></i> Github</span>
            </label>
        </div>

        <div id="nav-project_files-content" class="tab-content">
            <div id="project_files-local" role="tabpanel"
                 class="tab-pane show active">
                <div class="row">
                    <div class="form-group col">
                        <small class="text-muted">
                            Only to be used in development mode where you have project files
                            on your local machine for editing in your IDE.
                        </small>
                    </div>
                </div>

                <div class="row">
                    <div class="form-group col">
                        <label for="project_files-local-source">Path to Project Files</label>
                        <input type="text" class="form-control" maxlength="255"
                               id="project_files-local-source" name="project_files[local][source]"
                               placeholder="/path/to/your/project" value=""
                               data-error-container="project_files" />

                        <small class="text-muted">
                            Location of your project files on host machine.
                            The contents will be made available inside the container
                            at <code>/var/www/</code>.<br />
                            Windows users: You must use forward-slash
                            <code>c:/dev/my-project</code> or double back-slash
                            <code>c:\\dev\\my-project</code>.
                        </small>
                    </div>
                </div>
            </div>

            <div id="project_files-github" role="tabpanel"
                 class="tab-pane">
                github content
            </div>
        </div>

        <div class="invalid-feedback p-3 mb-2 bg-danger text-white"
             data-error-container-name="project_files"></div>
    </div>
</div>
