<div class="modal fade" id="service-delete-modal" tabindex="-1" role="dialog"
     aria-labelledby="service-delete-modal-title" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="service-delete-modal-title">Delete this service?</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                </button>
            </div>
            <form action="{{ path('project.service.delete.post', {
                    'projectId': service.project.id,
                    'serviceId': service.id,
                }) }}"
                  method="post" data-ajax>
                <div class="modal-body">
                    <p>This will also delete all files attached to this service.</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                    <button type="submit" class="btn btn-danger">Yes, delete</button>
                </div>
            </form>
        </div>
    </div>
</div>
