<div class="col-6 card-container">
    <div class="card">
        <div class="card-header">
            <div class="card-title">
                <input type="text" class="form-control" maxlength="64"
                       id="networks-{{ networkName }}"
                       name="networks[]" placeholder="" required
                       value="{{ networkName }}" data-mask-type="dns" />
            </div>
            <div class="card-options">
                <label class="custom-switch m-0">
                    <input type="checkbox" class="custom-switch-input"
                           checked disabled />
                    <span class="custom-switch-indicator"></span>
                    <span class="custom-switch-description">Joined</span>
                </label>
                <a href="#" class="card-options-remove"
                   data-toggle="card-remove"><i class="fe fe-x"></i></a>
            </div>
        </div>
        <div class="card-body">
            New network. You can add other services later.
        </div>
    </div>
</div>
