<h4 class="mb-3">Networks</h4>

<div class="row">
    <div class="col">
        <ul class="nav nav-tabs mb-3" role="tablist">
            <li class="nav-item">
                <a class="nav-link"
                   data-toggle="add-block-inline"
                   data-inline-controls="#new-networks"
                   aria-controls="#nav-networks-content"
                   href="{{ path('project.service.network-block-create.get', {
                       'projectId': project.id,
                   }) }}"><i class="fe fe-plus"></i> Create Network</a>
            </li>
        </ul>

        <div id="nav-networks-content" class="tab-content">
            <div id="networks-tab" role="tabpanel"
                 class="tab-pane fade show active">
                <div class="alert alert-icon alert-warning mb-6" role="alert">
                    <i class="fe fe-bell mr-2" aria-hidden="true"></i>
                    Services must share a network to speak to each other.
                </div>
                <div class="row" id="new-networks">
                </div>

                <div class="row">
                    {% for network in service.networks if not network.isPrimaryPublic %}
                        {% include '@Dashtainer/project/service/snippets/network_card.html.twig' with {
                            'network': network,
                            'joined': true
                        } %}
                    {% endfor %}

                    {% for network in nonJoinedNetworks %}
                        {% include '@Dashtainer/project/service/snippets/network_card.html.twig' with {
                            'network': network,
                            'joined': false
                        } %}
                    {% endfor %}
                </div>
            </div>
        </div>

        <input type="hidden" id="networks" data-error-container="networks-error" />

        <div class="invalid-feedback p-3 mb-2 bg-danger text-white"
             data-error-container-name="networks-error"></div>
    </div>
</div>
