<div class="page-header mb-0" id="secret">
    <div class="d-flex align-items-end w-100">
        <div class="p-2 w-100">
            <h1 class="page-title">
                Secrets
            </h1>
        </div>

        <div class="p-2 flex-shrink-1">
            <a class="btn btn-outline-success"
               data-toggle="add-element"
               data-target="#secrets-container"
               href="{{ path('project.service.add.secret.get', {
                  'projectId': service.project.id,
               }) }}"><i class="fe fe-plus"></i> Create Secret</a>
        </div>
    </div>
</div>

<div class="card">
    <div class="card-body">
        <div class="alert alert-icon alert-info mb-6" role="alert">
            <i class="fe fe-bell mr-2" aria-hidden="true"></i>
            Mount any file or directory on your PC into the container.
        </div>

        <h4 class="mb-3">Owned Secrets</h4>
        <hr class="my-0 mb-3" />

        <div class="table-responsive scrollable-container">
            <table class="table table-striped table-vcenter table-scroll">
                <thead class="bg-white">
                <tr>
                    <th class="w-50">Name</th>
                    <th class="w-50">Value</th>
                    <th class="w-1"></th>
                </tr>
                </thead>
                <tbody id="secrets-container">
                <tr class="empty-table">
                    <td colspan="3">
                        To add a Secret, click "Create Secret" above.
                    </td>
                </tr>
                {% for secret in secrets.owned %}
                    {% include '@Dashtainer/project/service/snippets/secret-add.html.twig' with {'secret': secret} %}
                {% endfor %}
                </tbody>
            </table>
        </div>

        <h4 class="my-3">Grant Secrets</h4>
        <hr class="my-0 mb-3" />

        {% if secrets.grantable is not empty %}
            <div class="alert alert-icon alert-warning" role="alert">
                <i class="fe fe-bell mr-2" aria-hidden="true"></i>
                Services must be granted access to Secrets to use them.
            </div>
        {% endif %}

        <div class="table-responsive scrollable-container">
            <table class="table table-striped table-vcenter table-scroll">
                <thead class="bg-white">
                <tr>
                    <th>Name</th>
                    <th>Owner</th>
                    <th class="w-50">Target Filename</th>
                    <th class="w-1"></th>
                </tr>
                </thead>
                <tbody id="grant_secrets-container">
                <tr class="empty-table">
                    <td colspan="3">
                        No other Services have any Secrets to share.
                    </td>
                </tr>
                {% for secret in secrets.granted %}
                    {% include '@Dashtainer/project/service/snippets/secret-granted.html.twig' with {'secret': secret} %}
                {% endfor %}

                {% for secret in secrets.grantable %}
                    {% include '@Dashtainer/project/service/snippets/secret-grantable.html.twig' with {'secret': secret} %}
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
