@import "~bootstrap/scss/bootstrap";

#ajax-spinner {
    z-index: 9999;

    i.fa {
        font-size: 50px;
        color: #fff;
        position: absolute;
        top: 50%;
        left: 50%;
    }
}

#dynamic-modal {
    .modal-content {
        margin-bottom: 200px;
    }
}

.modal-backdrop {
    background-color: rgba(0, 0, 0, 0.5);
    &.in {
        opacity: 0.5;
    }
}

[data-code-highlight] {
    height: 30em;
    resize: vertical;
    cursor: text;
    position: relative;

    &:after {
        content: "(edit me)";
        position: absolute;
        top: 0;
        right: 0;
        color: #aaa;
        text-align: right;
        font-size: .75em;
        padding: 5px 10px 0;
        line-height: 15px;
        height: 15px;
        font-weight: 600;
    }

    code {
        cursor: text;
        display: inline-block;
        width: 100%;
    }
}

code {
    outline: none;
}

.custom-control.lg {
    min-height: 2.5rem;
    padding-left: 3rem;

    .custom-control-label::before,
    .custom-control-label::after {
        width: 2rem;
        height: 2rem;
    }

    label {
        font-size: 1.5rem;
        cursor: pointer;
    }
}

ul[role="tablist"] {
    li {
        padding: 0 5px 5px;
        cursor: pointer;
        -webkit-box-shadow: inset 0 -2px 0 transparent;
        box-shadow: inset 0 -2px 0 transparent;

        &:hover {
            background-color: #eee;
            border-color: #eee #eee #ddd;
        }

        &.active {
            background-color: #fff;
            color: #333;
            -webkit-box-shadow: inset 0 -2px 0 $primary;
            box-shadow: inset 0 -2px 0 $primary;

            & > a,
            & > a:hover,
            & > a:active,
            & > a:focus {
                border-color: transparent;
                background-color: transparent;
            }

            & > a {
                color: #000;
            }
        }

        a {
            color: $gray-500;
            display: inline-block;
            background-color: transparent !important;
            border: none;

            &:hover,
            &:active,
            &:link,
            &:visited,
            &:focus {
                background-color: transparent !important;
                border: none;
            }
        }

        .btn-group button {
            border: none;
        }

        a[data-toggle="add-block"] {
            color: #000;
        }
    }
}
