{% extends '@Dashtainer/project/service/view.html.twig' %}

{% block serviceContent %}
<div class="card-body">
    <div class="text-wrap p-lg-6">
        <h3>{{ service.name }}</h3>

        <p>ID: {{ service.id }}</p>
        <p>Name: {{ service.name }}</p>
        <p>Networks: {% for network in service.networks %}{{ network.name }}, {% endfor %}</p>
    </div>
</div>
{% endblock %}
