<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-auto mr-auto">
                Made with <i class="fe fe-heart"></i>
                by <a href="https://jtreminio.com">Juan Treminio</a>
            </div>
            <div class="col-auto">
                Theme by <a href="https://codecalm.net" target="_blank">codecalm.net</a>
            </div>
        </div>
    </div>
</footer>
