<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="{{ asset('build/app.css') }}">
</head>
<body>

{% block content %}{% endblock %}

<script src="{{ asset('build/app.js') }}"></script>
</body>
</html>
