<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="{{ asset('build/app.css') }}">
    <title>Dashtainer - Docker, Simplified</title>
</head>
<body>

<div class="page">
    <div class="page-main">
        {% include '@Dashtainer/header.html.twig' %}

        <div class="page-content">
            <div class="container">
                {% block content %}{% endblock %}
            </div>
        </div>
    </div>

    {% include '@Dashtainer/footer.html.twig' %}
</div>


<div id="ajax-spinner" class="hidden invisible modal-backdrop in">
    <i class="fa fa-spinner fa-spin" aria-hidden="true"></i>
</div>

<div class="modal" id="dynamic-modal" tabindex="-1" role="dialog">
    <div class="modal-dialog"><div class="modal-content"></div></div>
</div>

<script src="{{ asset('build/app.js') }}"></script>
{% block footerJs %}{% endblock %}
</body>
</html>
