{% extends '@Dashtainer/project/service/update.html.twig' %}

{% block serviceContent %}
<div class="row">
    <div class="form-group col">
        <label class="form-label">Service Name</label>
        <div class="form-control">{{ service.name }}</div>
    </div>
</div>

<div class="alert alert-icon alert-info mb-6" role="alert">
    <i class="fe fe-bell mr-2" aria-hidden="true"></i>
    This service is available <strong>privately</strong> at
    <span class="badge badge-primary text-lg">
        <span class="tag-addon-left"><i class="fa fa-lock"></i></span>
        <span id="service-name-tag">{{ service.name }}</span>:1025</span>

    and <strong>publicly</strong> at
    <span class="badge badge-primary text-lg">
        <span class="tag-addon-left"><i class="fa fa-unlock"></i></span>
        http://<span id="server-name-tag">{{ service.name }}</span>.localhost:8025</span>
</div>
{% endblock %}
