{% extends '@Dashtainer/template.html.twig' %}

{% block footerJs %}
<script>
    $(document).on('change keyup', '#name', function(e) {
        var name = $(this).val()
            .replace(/[^a-z]/gi, '')
            .toLowerCase();

        $('#project-slug').text(name);
    });
</script>
{% endblock %}

{% block breadcrumb %}
<li class="breadcrumb-item">Projects</li>
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-lg-3 order-lg-1 mb-4">
        <a href="#" data-toggle="modal"
           data-target="#project-create-modal"
           class="btn btn-block btn-primary mb-6">
            <i class="fe fe-plus mr-2"></i>Create a new Project
        </a>
        <div class="list-group list-group-transparent mb-0">
            <a href="#" class="list-group-item list-group-item-action"><span
                    class="icon mr-3"><i class="fe fe-alert-triangle"></i></span>Alerts</a>
            <a href="#" class="list-group-item list-group-item-action"><span
                    class="icon mr-3"><i class="fe fe-user"></i></span>Avatars</a>
        </div>
    </div>

    <div class="col-lg-9">
        <div class="card">
            <div class="card-body">
                <div class="text-wrap p-lg-6">
                    {% for project in user.getProjects %}
                        <h2 class="mt-0 mb-4"><a
                                href="{{ path('project.view.get', {
                                    'projectId': project.id,
                                }) }}"><i class="fe fe-link"></i> {{ project.name }}</a></h2>
                    {% endfor %}

                    {% if user.getProjects is empty %}
                        <p>You have no projects.</p>

                        <p><a href="#" data-toggle="modal"
                              data-target="#project-create-modal">Click here to create your first project</a></p>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="project-create-modal" tabindex="-1" role="dialog"
     aria-labelledby="project-create-modal-title" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="project-create-modal-title">Create a new project</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true"></span>
                </button>
            </div>
            <form action="{{ path('project.create.post') }}" method="post" data-ajax>
                <div class="modal-body">
                    <div class="container">
                        <div class="row form-group">
                            <label class="form-label" for="name">Project Name</label>
                            <input type="text" class="form-control"
                                   id="name" name="name" placeholder=""
                                   value="Awesome" required
                                   data-error-container="name" />
                            <div class="invalid-feedback"
                                 data-error-container-name="name"></div>
                        </div>

                        <div class="row form-group">
                            <label class="form-label">Project Slug</label>
                            <span id="project-slug">awesome</span>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Save changes</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}
